@model SOFT703A2.Infrastructure.Contracts.ViewModels.Product.IListProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    ViewBag.ShowAddButton = true;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var filterProductsPath = '@Url.Action("FilterProducts", "MarketPlace")'
    var productDetailPath = '@Url.Action("Detail", "Product")'
    var productDeletePath = '@Url.Action("Delete", "Product")'
    var productPromotePath = '@Url.Action("Promote", "Product")'
    var productUnPromotePath = '@Url.Action("UnPromote", "Product")'
</script>
<script src="/js/Product/List.js"></script>

<h2>Products</h2>
<partial name="_ProductSearch"/>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Photo Url</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="product-table-body">
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>
                    <img src="@product.Photo" width="100" height="100"/>
                </td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
                <td>@product.Category.Name</td>
                <td>
                    <a href="@Url.Action("Detail", "Product", new { id = product.Id })" class="btn btn-primary btn-custom">Detail</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger btn-custom">Delete</a>
                    @if (product.IsPromoted)
                    {
                        <button class="btn btn-warning" onclick="setPromotion('@product.Id',@product.IsPromoted.ToString().ToLower())">Demote</button>
                    }
                    else
                    {
                        <button class="btn btn-success" onclick="setPromotion('@product.Id',@product.IsPromoted.ToString().ToLower())">Promote</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>