@model SOFT703A2.Infrastructure.Contracts.ViewModels.Catalog.IDetailMarketProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="col-md-4 offset-md-4">
    <h2>Details</h2>
    <input type="hidden" asp-for="Id"/>
    <table>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>

                            <strong>
                                <label asp-for="Name">Name</label>
                            </strong>

                        </td>
                        <td>
                            <label asp-for="Name">@Model.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <strong>
                                <label asp-for="CategoryName">Category</label>
                            </strong>

                        </td>
                        <td>
                            <label asp-for="CategoryName">@Model.CategoryName</label>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <strong>
                                <label asp-for="Price">Price</label>
                            </strong>

                        </td>
                        <td>
                            <label asp-for="Price">@Model.Price</label>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </td>
            <td>
                <div class="form-group">
                    <img src="@Model.Photo" style="width: 200px; height: 200px;"/>
                </div>
            </td>
        </tr>
    </table>
    <a href="@Url.Action("AddToTrolleyView", "MarketPlace", new { id = @Model.Id })" class="btn btn-primary bg-green">Add to trolley</a>
</div>