@model SOFT703A2.Infrastructure.Contracts.ViewModels.Catalog.IMarketPlaceViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    ViewBag.ShowAddButton = false;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var filterProductsPath = '@Url.Action("FilterProducts", "MarketPlace")'
    var addToTrolleyPath = '@Url.Action("AddToTrolley", "MarketPlace")'
    var removeFromTrolleyPath = '@Url.Action("RemoveItem", "MarketPlace")'
    var trolleyPath = '@Url.Action("Trolley", "MarketPlace")'
    var checkOutPath = '@Url.Action("CheckOut", "MarketPlace")'
    var productDetailMarketUrl = '@Url.Action("Detail", "MarketPlace")'

</script>
<script src="/js/MarketPlace/Index.js"></script>

<div class="row">
    <div class="col-md-8">
        <partial name="_ProductSearch"/>
        <div class="row-md-1"></div>
        <!-- Catalog -->
        <div class="row" id="catalog-container">
            @foreach (var product in Model.Catalog)
            {
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 250px; height: 300px;">
                        <a href="@Url.Action("Detail", "MarketPlace", new { id = product.Id })">
                            <img src="@product.Photo" class="card-img-top" alt="Product Image" style="height: 190px;">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">@product.Name - $@product.Price</h6>
                            <h7 class="card-title">@product.Category.Name</h7>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-primary addFromCatalog bg-green" data-product-id="@product.Id">Add</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <!-- Trolley -->
        <h3>Trolley</h3>
        <div id="trolley-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.CurrentTrolley.ProductXTrolleys)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Price</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Quantity * item.Product.Price)</td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-danger removeFromTrolley" data-product-id="@item.Product.Id" style="width: 40px">-</a>
                            <a href="javascript:void(0);" class="btn btn-primary addToTrolley" data-product-id="@item.Product.Id" style="width: 40px">+</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <p>Total: $@Model.CurrentTrolley.Total</p>
            <a href="javascript:void(0);" class="btn btn-primary checkoutTrolley btn-custom bg-green" data-trolley-id="@Model.CurrentTrolley.Id" style="width: 350px">Checkout</a>

        </div>
    </div>
</div>